html {
    min-height: 100%;
    overflow: auto;
}

body {
    background-color: white;
    background: url(../img/bakgrund.png) 100%;
    background-repeat: no-repeat;
    min-height: 100%;
    background-size: cover;
}

li {
    position: right;
}

.circular {
    width: 210px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

.navbar {
    border-radius: 0px 0px 7px 7px;
    color: black;
    background-color: rgba(255, 255, 255, 0.85);
}

.jumbotron {
    background-color: #ffffff;
    z-index: 1;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 93%;
    margin-top: 80px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.85);
}

.box {
    background-color: #ffffff;
    z-index: 1;
    padding: 10px;
    width: 90%;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.85);
}

.glyphicon {
    font-size: 30px;
    color: #ffba7f;
}

.marginrow {
    margin-top: 50px;
}

.kontakt {
    background-color: #ffffff;
    z-index: 1;
    padding: 10px;
    width: 90%;
    margin-bottom: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.85);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.email {
    float left;
}

.profil {
    float: right;
}

.icon {
    display: inline-block;
    vertical-align: top;
    padding: 6px 0px 0px 0px;
    margin-right: 10px;
    width: 40px;
}

.text {
    display: inline-block;
    width: 60%;
}

.bild {
    width: 100%;
}

#om {
    padding-top: 50px
}

#fardigheter {
    padding-top: 50px
}

#portfolio {
    padding-top: 50px
}

#kontakt {
    padding-top: 50px
}