
  
  body {
    background-color: white;
    
  }

.container-fluid{
    background: url(../img/bakgrund.png) 100% ;
    background-repeat: no-repeat;
    

}

 li{
  position: right;

 } 
 


.circular {
  width: 210px;
  height: 200px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  display: block;
    margin-left: auto;
    margin-right: auto;
   z-index: 2;
   margin-top: 70px;
  
  
  }
.navbar{
  position: fixed;
    left: 0;
    top: 0;
    
    width:100%;
   opacity: 0.85;
   z-index: 3;


}

.jumbotron{
  background-color: #ffffff;
    opacity: 0.85;
    z-index: 1;
  padding: 10px;
  display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 70%;
    margin-top: 20px;
}

.skills{
  background-color: #ffffff;
    opacity: 0.85;
    z-index: 1;
  padding: 10px;
    width: 90%;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

.glyphicon{
    font-size: 30px;
    color: black;
    float: right;
    margin-top: 5px;

}


