html {
    min-height: 100%;
    overflow: auto;
}

body {
    background-color: #fffae2;
   
}

li {
    position: right;
}

.container-fluid {
    background: url(../img/wallpaper.jpg) 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.circular {
    width: 210px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

.navbar {
    border-radius: 0px 0px 7px 7px;
    color: black;
    background-color: white;
}

.jumbotron {
    background-color: #ffffff;
    z-index: 1;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 93%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.box {
    background-color: #ffffff;
    z-index: 1;
    padding: 10px;
    width: 90%;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.glyphicon {
    font-size: 30px;
    color: #bf5675;
}
.marginrow {
    margin-top: 50px;
}
.rubrik {
    float: left;
}
.kontakt {
    background-color: #ffffff;
    z-index: 1;
    padding: 10px;
    width: 90%;
    margin-bottom: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
a {
    text-decoration: none;
    color: black;
}
.btn:link,
.btn:visited {
    background-color: #bf5675;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
}
.btn:hover,
.btn:active {
    background-color: #d3728f;
}
.btn {
    margin-bottom: 20px;
    margin-top: 10px;
}
a:hover {
    text-decoration: none;
    color: black;
}

.symboler {
    text-align: center;
}
.icon {
    display: inline-block;
    vertical-align: top;
    padding: 6px 0px 0px 0px;
    margin-right: 10px;
    width: 40px;
}
.text {
    display: inline-block;
    width: 60%;
}
.bild {
    width: 100%;
    margin-top: 25px;
}
#om {
    padding-top: 50px;
}
#fardigheter {
    padding-top: 50px;
}
#portfolio {
    padding-top: 50px;
}
#kontakt {
    padding-top: 50px;
}